.banner {
    margin-top: 8rem;
    border-top-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    background: url(../images/bg-pattern-circles.svg) top -23rem center no-repeat, $gradient-very-dark-blue;
    background-size: 156vw;

    @media (min-width: $breakpoint)
    {
        margin-top: 0;
        padding: 0;
        background: url(../images/bg-pattern-circles.svg) left -21rem top -500px no-repeat, $gradient-very-dark-blue;
        // background-size: 100%;
    }

    &__container {

        @media (min-width: $breakpoint)
        {
            position: relative;
            min-height: 40rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }

    &__illustration {
        margin-top: -18rem;
        img {
            width: 100%;
        }

        @media (min-width: $breakpoint)
        {
            margin: 0;
            width: 40%;
            img {
                position: absolute;
                top: -18%;
                left: 0;
                width: 50%;
            }
        }
    }

    &__text-content {
        margin-top: 2.4rem;
        margin-bottom: 4rem;

        @media (min-width: $breakpoint)
        {
            width: 50%;
            padding-left: 1.5rem;
            text-align: left;
        }
    }
    
    &__heading {
        font-size: 3.6rem;
        color: $light;
        @media (min-width: $breakpoint)
        {
            max-width: initial;
            text-align: left;
        }
    }

    &__text {
        font-size: 1.6rem;
        line-height: 2;
        color: $light;
    }
}