mixin header({ brand, menu } = data)
    header.header
        .container.header__container 
            .header__logo 
                +link({attrs: brand.link.attrs})
                    img(src=pathToFile+'images/logo.svg', alt="")
            .header__button
                button.btn.btn-hamburger(aria-label="menu button")
                    span(arial-hidden="true")
                    span(arial-hidden="true")
                    span(arial-hidden="true")
            nav.header__nav
                .header__nav__list
                    each item in menu.mainMenu.items 
                        .header__nav__item.has-dropdown
                            a.header__nav__link(href="#") #{item.anchor}
                            .header__nav__dropdown__wrapper
                                .header__nav__dropdown 
                                    each drop in item.dropdown 
                                        +link({attrs: drop.attrs})
                                            | #{drop.anchor}
                .header__nav__buttons 
                    each button in menu.mainMenu.buttons 
                        +button(button)
                            | #{button.text}
